*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #002339,  #019f55);
    background-size: cover;
    font-family: "inter", sans-serif;
}

.container{
    margin: 70px;
    padding: 20px;
}
h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
h1 > span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
}
.container > .display{
    background-color: #fff;
    height: 70px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
}
.display > input{
    outline: none;
    border: none;
    font-size: 30px;
    width: auto;
    color: rgba(72, 72, 72, 0.757);
}

.display > span > i{
    font-size: 30px;
    cursor: pointer;
}

span > i:hover{
    font-size: 40px;
    transform: ease 5s;
}

.container > button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    padding: 16px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
button:hover{
    transform: ease 2s;
    background-color: #00bc64;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;   
}

/*Media query for screens smaller than 768px*/
@media screen and (max-width: 767px){
    .container{
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 10px;
        padding: 10px;
    }

    h1{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #fff;
    }

    .container > .display{
        background-color: #fff;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
    }

    .display > input{
        outline: none;
        border: none;
        width: 80px;
        font-size: 15px;
        color: rgba(72, 72, 72, 0.757);
    }

    .display > span > i{
        font-size: 20px;
        cursor: pointer;
    }

    .container > button{
        border: 0;
        outline: 0;
        background-color: #019f55;
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding: 10px 14px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    footer{
        font-size: 11px;
    }
}